* {
  box-sizing: border-box;
}


body {
    font-family: 'Circular Std', sans-serif;
  }

h1 {
    text-align: left;
    font-size: 2.5rem;
    padding-right: 40%;
    padding-left: 2%;
    padding-bottom: 1%;
    text-decoration: none;
}

h2 {
  padding-left: 2%;
  font-family: 'Circular Std', sans-serif;
}

h3 {
  padding-left: 2%;
  font-size: 1.5rem;
  line-height: 1px;

}

a:link {
  text-decoration: none;
  color:none;
}

a:link, a:visited {
  color: black;
}


.nav {
  text-align: end;
  float:inline-end;
  padding-right: 2%;
  font-size: 20px;
  line-height: 1;
  white-space: nowrap;

}

a:visited {
  color:black;
}

a:hover {
  color: #6C6C6C;
}


p {
  padding-left: 2%;
  padding-right: 2%;
} 

  .row,
  .row > .column {
    padding: 25px;
    display: block;
    row-gap: 1em;

  } 

  .column {
    float: left;
    width: 50%;
    display: block;
    display: none; 
    padding: 30px;
  } 
  

  .content {
    background-color: #EDEFF4;
    display: inline-block;
    overflow: hidden;
  }
  

  .footer {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 2%;
    padding-top: 2%;
    white-space: nowrap;
  }

  .blue-highlight { 
    background-color:#6C9BED;
    padding:0.5em 0.6em;
    border-radius: 25px;
    white-space: nowrap;
   }

   .yellow-highlight1 {
    background-color:  #F3D974;
    padding-left: 2%;
    border-radius: 25px;
    white-space: nowrap;
   }

   .yellow-highlight {
    background-color: #EDD06C;
    padding:0.5em 0.6em;
    border-radius: 25px;
    white-space: nowrap;
   }

   .green-highlight {
    background-color: #90BD81;
    padding:0.5em 0.6em;
    border-radius: 25px;
    white-space: nowrap;
   }

   .pink-highlight {
    background-color: #EBB1E3;
    padding:0.5em 0.6em;
    border-radius: 25px;
    white-space: nowrap;
   }

   .purple-highlight {
    background-color: #B38BBD;
    padding:0.5em 0.6em;
    border-radius: 25px;
    white-space: nowrap;
   }



  .row:after {
    content: "";
    display: table;
    clear: both;
    row-gap: 1em;
  }

  @media screen and (max-width: 800px) {
    .column {
      width: 100%;
    }
  } 

.arrow {
  font-size: 32px;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.btn {
  border: none;
  text-decoration: none;
  background-color: white;
  float:right;
  padding-bottom: 2%;
  padding-right: 1%;
  font-optical-sizing: 48; 
  white-space: nowrap;
  text-align: center;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.r {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.c {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.c img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}